/Assembly-CSharp-firstpass.csproj
/XLuaProject.sln
/.idea
/Library
/Logs
/obj
/Temp
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/UserSettings
/LICENSE
/Assets/ConsolePro
/Assets/ConsolePro.meta
